
@{
    ViewBag.Title = "Öğrenciler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<EgtMerkezi.Models.Ogrenci>

<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-12">
            <h4>ÖĞRENCİLER</h4>
            <a href="javascript:;" data-toggle="tooltip modal" data-width="4" data-source="/Admin/OgrenciEkle" data-title="Yeni Öğrenci" data-function="CloseModal" class="btn btn-success btn-sm tooltips pull-right" style="margin-top:6px;" title="Yeni Öğrenci"><i class="fa fa-plus">&nbsp;&nbsp; Yeni Öğrenci</i></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-7">Ad Soyad</th>
                            <th class="col-md-1">Telefon</th>
                            <th class="col-md-2">E-posta</th>
                            <th class="col-md-2">Doğum Tarihi</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Ad @item.Soyad</td>
                                <td>@item.Telefon</td>
                                <td>@item.Eposta</td>
                                <td>@String.Format("{0:d}", @item.DogumTarihi)</td>
                                <td><a href='javascript:;' data-toggle='tooltip modal' data-source="/Admin/OgrenciDuzenle?OgrenciID=@item.OgrenciId" data-title='Öğrenci Düzenle' data-function='CloseModal' data-width='4' class='btn btn-xs btn-info tooltips' title='Düzenle'>Düzenle</a></td>
                                <td><a href="/Admin/OgrenciSil?OgrenciID=@item.OgrenciId" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

